<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestFirefox">
   <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.scripts.MavenCrossBrowserTesting.TestActitimeLogin"/>
    </classes>
  </test> 
  
   <test name="TestChrome">
   <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.scripts.MavenCrossBrowserTesting.TestActitimeLogin"/>
    </classes>
  </test>
  
   <test name="TestInternetExplorer">
   <parameter name="browser" value="internetexplorer"/>
    <classes>
      <class name="com.scripts.MavenCrossBrowserTesting.TestActitimeLogin"/>
    </classes>
  </test>

</suite> <!-- Suite -->
